* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedor-juego {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.personaje {
    position: absolute;
    width: 130px; /* Tamaño del personaje */
    height: 100px;
}

#personaje1 {
    position: absolute;
    width: 60px; /* Tamaño del personaje 1 */
    height: 60px;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

#personaje2 {
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

/* Nubes */
.nube {
    position: absolute;
    width: 100px;
    height: auto;
    top: 10%; /* Posición fija de las nubes en la parte superior */
}

.nube:nth-child(1) {
    animation: moverNubes 10s linear infinite;
}

.nube:nth-child(2) {
    animation: moverNubes 17s linear infinite;
}

.nube:nth-child(3) {
    animation: moverNubes 5s linear infinite;
}

.nube:nth-child(4) {
    animation: moverNubes 25s linear infinite;
}

/* Árboles en la parte inferior */
.arbol {
    position: absolute;
    width: 120px;
    bottom: 0%; 
}

.arbol:nth-child(1) {
    animation: moverArboles 10s linear infinite;
}

.arbol:nth-child(2) {
    animation: moverArboles 5s linear infinite;
}

.arbol:nth-child(3) {
    animation: moverArboles 3s linear infinite;
}

.arbol:nth-child(4) {
    animation: moverArboles 1s linear infinite;
}

#controles-moviles {
    position: absolute;
    bottom: 10%;
    left: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    width: 70px;
    height: 70px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes moverNubes {
    from {
        left: 100%;
    }
    to {
        left: -100%;
    }
}

@keyframes moverArboles {
    from {
        left: 100%;
    }
    to {
        left: -100%;
    }
}

.poder {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(148, 18, 18);
    border-radius: 50%;
    z-index: 10;
}
